@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
	background: #151623;
	-webkit-user-select: none;
	font-family: "Roboto";
	margin-top: 80px;
}

.top-margin {
	margin-top: 25px;
}

.hr-text {
	display: block;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ccc;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.hr-text span {
	background:#fff;
	padding:0 10px;
	color: #aaa;
	font-size: 0.8em;
}

.cardish, .cardish-white {
	padding: 10px;
}

.cardish {
	background: rgb(123, 31, 162);
	color: white;
}

.cardish-white {
	background: white;
	color: rgb(123, 31, 162);
}

.player-container {
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	
	align-items: center;
}

.player {
	min-height: 500px;
	border-radius: 5px;
	display: block;
	margin-bottom: 50px;
}

.player-image-container {
}

.player-image {
	display: inline-block;
	float: left;
	border-radius: 5px;
	width: 500px;
	box-shadow:
		0px 0px 2px rgba(0, 0,0, 0.2),
		0px 5px 6px rgba(0, 20, 40, 0.4);
}

.player-right {
	padding-left: 30px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 500px;
	min-width: 400px;
	width: 600px;
}

.player-info {
	font-size: 15px;
	align-self: flex-start;
}

.repeat-warning {
	background-color: rgba(0,0,0, 0.5);
	background-image: url(./images/repeat-warning.png);
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 0.5s ease;
	
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	z-index: 9000;
}

@media screen and (max-width: 1200px) {
	.player {
		min-height: 300px;
	}
	
	.player-image {
		width: 300px;
	}
	
	.player-right {
		width: 500px;
		height: 300px;
	}
	
	.player-info {
		font-size: 9px;
	}
}

.player-info-name {
	display: block;
	color: #fff;
	font-size: 2.7em;
	font-weight: 200;
}

.player-info-artist {
	display: block;
	color: #eee;
	font-weight: 100;
	font-size: 1.7em;
}

.player-play-button {
	border-radius: 200px;

	background: white;
	margin: 0px auto;
	
	padding: 10px;
	display: inline-block;

	box-shadow: 0px 0px 0px rgba(0,0,0,.2);

	transition-property: background, box-shadow;
	transition-duration: 0.07s;
	transition-timing-function: ease-in-out;
}

.player-play-button:hover {
	cursor: pointer;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
	background: #eee;
}

.player-play-button:active {
	box-shadow: inset 3px 0px 7px rgba(0, 0, 0, 0.25);
	color: #ccc
}
